#Blog {
  .button-section {
    .btn-go-to-services {
      padding: 14px 20px !important;

      .icon {
        font-size: 20px;
        transition: transform .5s ease;
      }

      &:hover .icon {
        transform: translateX(10px) rotate(180deg);
        transition: transform .5s ease;
      }
    }
  }
}

@media (max-width: 1024px) {
  #Blog {
    .title-section {
      .text-section {
        .text {
          .text-animated {
            font-size: 28px !important;
            line-height: 36px;
            max-width: 660px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #Blog {
    .button-section {
      .btn-go-to-services {
        padding: 10px 16px !important;

        .icon {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #Blog {
    .title-section {
      .text-section {
        .text {
          .text-animated {
            font-size: 24px !important;
            line-height: 31px;
            max-width: 660px !important;
          }
        }
      }
    }
  }
}