#Carousel {
  .item-dots:hover {
    box-shadow: 0 0 8px #313131;
    border-radius: 50%;
  }

  .item-dots.active {
    background: #8f8f8f;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  /* ----Sidebars syles with images------*/
  .button-next {
    right: -60px !important;
  }

  .button-prev {
    left: -60px !important;
  }

  .button-prev,
  .button-next {
    border-radius: 50%;
    background: #fff;
  }

  .button-prev:hover,
  .button-next:hover {
    box-shadow: 0 0 4px #3f3f3f;
    border-radius: 50%;
    background: none;
  }

  .button-next:hover>svg>path,
  .button-prev:hover>svg>path {
    color: $color-primary;
  }

  /* ----Sidebars syles with others elements------*/
  .button-next-element {
    right: -8pc;
  }

  .button-prev-element {
    left: -8pc;
  }

  .button-prev-element:hover,
  .button-next-element:hover {
    box-shadow: 0 0 4px #3f3f3f;
    border-radius: 50%;
  }
}