#Form {
  .input {
    .label-input {
      font-size: 15px;
    }

    & input {
      height: 45px;
      margin-top: 5px;
    }
  }

  .terms-and-conditions {
    & input {
      width: 25px;
      height: auto;
      margin-right: 10px;
    }

    .label-input {
      color: $color-primary;
      font-size: 16px;
      & a{
        background: #76767630;
        letter-spacing: 0.5px;
        font-size: 14px;
        &:hover{
          color: $color-secondary !important;
        }
      }
    }
  }
}