header {
  background: linear-gradient(0deg, transparent 0, #0003);
  border-bottom: 1px solid #ddd;

  nav {
    .nav-list .nav-item:is(.has-child) {
      & > .nav-link {
        &::after {
          content: '';
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -5px;
          background-image: url("/img/shapes/arrow-down.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: .2s ease-in-out;
        }
      }

      .menu a {
        font-weight: 300;
        text-decoration: none;
        color: var(--text-color);
        transition: .2s ease-in-out;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .nav-list .nav-item:is(.open) {
      & > .nav-link::after {
        transform: rotate(-90deg) translateX(50%);
      }
    }
  }

  .controls {
    .icon {
      &::before {
        content: "";
        width: 115%;
        height: 115%;
        background: #fff;
        position: absolute;
        left: -7.5%;
        right: 0;
        z-index: 0;
        bottom: -115%;
        transition: .3s ease-in-out;
        border-radius: 8px;
        pointer-events: none;
      }

      &:hover::before {
        bottom: 0;
      }

      &:hover svg {
        color: var(--primary-color);
      }
    }
  }
}

.dark header {
  border-bottom: 1px solid rgba(255,255,255,0.06);

  & nav {
    .nav-list .nav-item:is(.has-child) {
      & > .nav-link {
        &::after {
          filter: invert(1);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header .controls .icon svg {
    height: 16px;
    width: 16px;
  }
}