header {
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 1;
    animation: 4s linear both;
}

header.up {
    animation: showHeader 150ms ease-in both;
}

header.down {
    animation: hiddenHeader .8s ease-out both;
}

@keyframes hiddenHeader {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-15px);
    }

    80% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes showHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


#menu-header {

    .search-btn,
    .profileSearch-section .cart-section #CartDropdown .cart,
    .profile-section .profile-section-icon {
        padding: 11px !important;
    }

    /*Button transition with search engine*/
    .button-active {
        transition: opacity 5s ease;
        opacity: 0;
        pointer-events: none !important;
    }

    .input-section-btn {
        height: 0;
        overflow: hidden;
        transition: 5s;
    }

    .input-section-btn.active {
        height: auto;
        transition: 40s;
    }
}