#item-product {
  .content {
    .item-summary {
      overflow: hidden;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        hyphens: auto;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
  }
}