@use '@/styles/variables' as *;

.text-custom {
  .title {
    display: inline-block;
  }

  .TitleWithLinestart::after,
  .TitleWithLinecenter::after,
  .TitleWithLineend::after {
    content: '';
    width: 20%;
    height: 3px;
    display: block;
    position: relative;
    bottom: 0;
    background-color: $color-primary;
  }

  .TitleWithLinestart::after {
    left: 0;
    margin: 5px 0;
  }

  .TitleWithLinecenter::after {
    left: 0;
    margin: 5px auto;
  }

  .TitleWithLineend::after {
    left: 80%;
    margin: 5px 0;
  }
}