@use '@/styles/variables' as *;

input[type='range'].range{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 1rem;
}

input[type="range"].range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="range"].range::-moz-range-thumb{
  background: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="range"].range::-ms-thumb{
  background: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}