// global settings
@import 'settings';

// styles components
@import 'components/grafic';
@import 'templates/slider';
@import 'components/textCustom';
@import './components/formDefault';
@import './components/product/product';
@import './components/product/modalProduct';
@import './components/carousel';

// styles templates
@import './templates/header';
@import './templates/parts/profile/guestSection';
@import './templates/chance';
@import './templates/blog';
@import './templates/missionAndVision';
@import 'templates/parts/money';
@import './templates/infoAbout';
@import './templates/footer';

// styles resources
@import "./resources/svgForms";

// Default Styles Template
a{
  color: var( $color-primary );
}

#results {
  & .options::-webkit-scrollbar {
    display: none;
  }

  & .filters {
    scroll-snap-type: x mandatory;
  }

  & .filters button {
    scroll-snap-align: start;
  }
}