#InfoAbout{
  .carousel{
    .swiper-wrapper-2{
      .swiper-pagination-bullet{
        height: 9px !important;
        width: 9px !important;
        &:hover{
          box-shadow: 0 0 5px $color-primary;
          transform: scale(1.2);
        }
      }
      .swiper-pagination-bullet-active{
        background: $color-primary;
        height: 11px !important;
        width: 11px !important;
      }
    }
  }
}