#slider {
  max-height: 95vh;
  &:before{
    content: "";
    position: absolute;
    background:  linear-gradient(150deg, rgb(0, 0, 0, .9), rgba(0, 0, 0, .2) 80%);
    inset: 0;
    z-index: 1;
  }
  .content, .spin{
    opacity: 0;
    transform: translateY(-150px);
    animation: show .7s ease-in both;
  }

  .title {
    font-family: 'Satisfy', cursive;
    line-height: 1.2 !important;
    text-transform: capitalize;
    background-image: linear-gradient(-250deg, #ffffff 0%, #ffffff 28%, #2a2a2a00 30%, #ffffff 31%, #ffffff 100%);
    background-size: 400% 500%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleAnimation 15s linear infinite;
  }

  @keyframes titleAnimation {
    to {
      background-position: -200%;
    }
  }
}

@keyframes show{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}