#Grafic {
  .grafic-content {
    box-shadow: 0 0 10px #0922ff54;


    .barOne,
    .barFour {
      animation: OneFour 5s ease-in-out infinite alternate;
      transform-origin: bottom;
    }

    .barTwo,
    .barFive {
      animation: OneFour 3s ease-in-out infinite alternate;
      transform-origin: bottom;
    }

    .barThree {
      animation: TwoFive 10s ease-in-out infinite alternate;
      transform-origin: bottom;
    }

    @keyframes OneFour {

      0%,
      100% {
        transform: scaleY(0.5);
      }

      30% {
        transform: scaleY(1);
      }
    }

    @keyframes TwoFive {

      0%,
      100% {
        transform: scaleY(0.5);
      }

      30% {
        transform: scaleY(1);
      }
    }

    @keyframes Three {

      0%,
      100% {
        transform: scaleY(0.5);
      }

      20% {
        transform: scaleY(1);
      }
    }
  }
}