@use '../../Settings';
#GuestSection {
  .section-content {
    .section-buttons {

      .btn-login,
      .btn-register {
        position: relative;
        transition: all 0.4s ease;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 20px;
          height: 2px;
          background: #ffffff;
          z-index: 0;
          transition: transform 0.4s ease;
        }

        &::before {
          top: 0;
          left: 70%;
        }

        &::after {
          bottom: 0;
          left: 20%;
        }

        &:hover {

          &::before {
            transform: translateX(-450%);
            transition: transform 0.4s ease;
          }

          &::after {
            transform: translateX(450%);
            transition: transform 0.4s ease;
          }
        }
      }

      .btn-login {

        &:hover {

          &::before,
          &::after {
            background: #22c55e;
          }
        }
      }

      .btn-register {
        &:hover {

          &::before,
          &::after {
            background: Settings.$color-secondary;
          }
        }
      }
    }
  }
}