.search-btn, .profileSearch-section .cart-section #CartDropdown .cart, .profile-section .profile-section-icon {
    padding: 11px !important;
}

/*Button transition with search engine*/
.button-active {
    transition: opacity 5s ease;
    opacity: 0;
    pointer-events: none !important;
  }

  .input-section-btn{
    height: 0;
    overflow: hidden;
    transition: 5s;
}

.input-section-btn.active {
    height: auto;
    transition: 40s;
}