.shape-figure-one{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;

  & svg{
    position: relative;
    display: block;
    width: calc(100% + 1.9px);
    height: 100px;
    transform: rotateY(180deg);
  }

  & .shape-fill{
    fill: #FFFFFF;
  }

  & .wave1, & .wave2, & .wave3, & .wave4, & .wave5, & .wave6{
    animation-timing-function: ease-in-out !important;
    animation-iteration-count: infinite !important;
  }

  & .wave1{
    animation: waveMove1 2s;
  }

  & .wave2{
    animation: waveMove2 2.5s;
  }

  & .wave3{
    animation: waveMove3 2.2s;
  }

  & .wave4{
    animation: waveMove4 2.3s;
  }

  & .wave5{
    animation: waveMove5 2.1s;
  }

  & .wave6{
    animation: waveMove6 2.4s;
  }
}

@keyframes waveMove1{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.2);
  }
}

@keyframes waveMove2{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.15);
  }
}

@keyframes waveMove3{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.1);
  }
}

@keyframes waveMove4{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.18);
  }
}

@keyframes waveMove5{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.12);
  }
}

@keyframes waveMove6{
  0%, 100%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.14);
  }
}
